*, ::before, ::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body 
{
    height: 100vh;
}

.accueil
{
    background: url(https://payload.cargocollective.com/1/21/680579/13806197/Screen-Shot-2019-03-03-at-20.44.57_631.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

}

.btn-primary 
{
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.btn-primary:hover
{
    background-color: #249e57;
    border-color: #249e57;
}